* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #4b4b4b;
  overflow: hidden;
}


.logo {
  height: 50px;
}

.color-relish {
  color: #fd9d3e;
}

.homepage h4 {
  font-family: "faster one", cursive;
}

/* Intro */
.intro h1 {
  font-size: 4em;
  line-height: 1.1em;
  font-weight: 900;
}
.intro .small-image img {
  height: 500px;
}

.intro #img-landing {
  height: 100%;
}
.intro p {
  font-size: 21px;
}
.btn {
  background-color: #ffc222;
  outline: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 500;
}
.btn:hover {
  background-color: #fd9d3e;
  color: white;
}

/* @media screen and (min-width: 767px) and (max-width: 992px) {
  .intro {
    margin-right: 20px;
  }
} */

/* about */

.about {
  color: white;
  padding: 80px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/pizzaBKCool.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about img {
  height: 60px;
}
.about h4 {
  font-size: 1.2em;
  font-weight: 800;
}
.about p {
  font-size: 15px;
}



