* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');


body {
  color: #4b4b4b;
  overflow-x: hidden;
}


.logo {
  height: 50px;
}

.color-sullivans {
  color: #fd9d3e;
}

.color-relish {
  color: #fd9d3e;
}
.homepage h5 {
  font-family: "faster one", cursive;
}

/* Intro */

.intro {
height: 50%;
}

#landing-pg {
  padding-left: 4%;
  padding-right: 4%;
}
.intro h1 {
  font-size: 4em;
  line-height: 1.1em;
  font-weight: 900;
}
.intro .small-image img {
  height: 500px;
}

/* .intro #img-landing {
  height: ;
} */
.intro p {
  font-size: 21px;
}
.btn {
  background-color: #ffc222;
  outline: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 500;
}
.btn:hover {
  background-color: #fd9d3e;
  color: white;
}

@media screen and (min-width: 767px) and (max-width: 992px) {
  .intro {
    margin-right: 20px;
  }
}

/* about */

.about {
  color: white;
  padding: 80px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/pizzaBKCool.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about img {
  height: 60px;
}
.about h4 {
  font-size: 1.2em;
  font-weight: 800;
}
.about p {
  font-size: 15px;
}

/* order section */

.text-bold {
  font-weight: bold;
}

tbody{
  font-size: 14px;
  text-transform: capitalize;
}

/* Delivery mode */

#location-input-details {
  display: none;
}

.delivery-option {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #fd9d3e;
}

a:hover {
  color: #fd9d3e;
}

#order-section{
  color: black;
}

#order-section h2 {
  text-align: justify;
}

#order-form {
  margin-left: 10%;
}

.flex.container {
  display: flex;
  justify-content: space-between;
}

/* #order-now h2 {
  text-align: center;
  color: #fd9d3e;
}

.order {
  padding-top: 4%;
  padding-bottom: 4%;
  color: black;
} 


.choice {
  display: none;
  padding-left: 2%;
  padding-right: 2%;
} */

/* .delivery {
  padding-left: 10%;
  padding-right: 10%;
  display: none;
}

.choice h2{
  color: #fd9d3e;
  text-align: left;
}
#your-orders{
  color: black;
  font-size: 30px; 
} */

#contact h2{
  text-align: center;
  color: #fd9d3e;
}
#contact{
  background-color: #323232;
  color: white;
}

#loca {
  padding-right: 10%;
}

#loca h5 {
  color: #fd9d3e;
}

#cus-care {
  padding-right: 10%;
}

#cus-care h5 {
  color: #fd9d3e;
}

.mapouter {
  padding-right: 10%;
}

.mapouter h5 {
  text-align: center;
  color: #fd9d3e;
}

#contactdetails h2{
  text-align: left;
}
.footer{
  padding-top: 5%;
}
/* #addedprice{
  display: none;
}
#finallmessage{
  display: none;
  padding-top: 10%;
  padding-right: 10%;
  padding-left: 10%;
  font-size: 28px;
}

#regards{
  text-align: center;
}
#information{
  padding-top: 5%;
  font-size: 22px;
  padding-right: 8%;
  padding-left: 5%;
  color: black;
  font-family: sans-serif;
} */

@media only screen and (max-width: 485px){
  .flex-xs-column {
    flex-direction: column;
  }
}

@media only screen and (max-width: 767px){
  .section {
    padding-top: 30px;
  }
}